/*Board Styles*/
:root {
    --board-size: 60vh;
}

.chessWrapper {
    box-sizing: border-box;
    position: relative;
    width: var(--board-size);
    height: var(--board-size);
    margin: auto;
    background: var(--chessboard-padding-color, black);
    padding: 5px;
    transition: background-color .5s;
}

.historymode .chessWrapper {
    background-color: var(--history-grey, lightgrey);
}

@media (max-width: 60vh) {
    :root {
        --board-size: 100vw;
    }
    .chessWrapper .cordsX,
    .chessWrapper .cordsY {
        display: none;
    }
}

.chessWrapper .cordsX {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(135%, 0);
    display: flex;
    justify-content: center;
    flex-flow: column;
    flex-direction: column-reverse;
    height: 100%;
}

.chessWrapper .cordsX a {
    height: 12.5%;
}

.chessWrapper a {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.3;
    font-size: 20px;
    font-weight: bold;
    user-select: none;
}

@media (max-width: 800px) {
    .chessWrapper a {
        font-size: 12px;
    }
}

.chessWrapper .cordsY a {
    width: 12.5%;
}

.chessWrapper .cordsY {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(0, 100%);
    display: flex;
    justify-content: center;
    flex-flow: row;
    width: 99%;
}

@media (max-width: 60vh) {
    .chessWrapper .cordsX,
    .chessWrapper .cordsY {
        display: none;
    }
}


/*Board rotate Styles*/

.chessWrapper.rotate .cordsY {
    flex-direction: row-reverse;
}

.chessWrapper.rotate .cordsX {
    flex-direction: column;
}

.chessWrapper.rotate>.gridContainer {
    transform: rotate(180deg);
}

.chessWrapper.rotate>.gridContainer>.gridItem>* {
    transform: rotate(180deg) translate3d(0, 0, 0);
    /*backface-visibility: hidden;*/
}


/*Board rotate Styles END*/

.gridContainer {
    display: grid;
    grid-template-columns: repeat(8, auto);
    height: 100%;
    width: 100%;

    user-drag: none;
    user-select: none;
    -moz-user-drag: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.gridItem {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(15, 85, 143);
    /*Field Styles Debug*/
    font-size: 30px;
    transition: filter 0.3s;
    box-shadow: inset 0px 0px 4vh 0.5vh rgba(0, 0, 0, 0.15);
}


/*Field Styles*/

.gridItem.white {
    background-color: var(--white-grid-color);;
}

.gridItem.black {
    background-color: var(--black-grid-color);
}

.gridItem.black:hover,
.gridItem.basicBeat:hover,
.gridItem.promotionBeat:hover {
    filter: brightness(130%);
}

.gridItem.white:hover,
.gridItem.basicMove:hover,
.gridItem.enPassantMove:hover,
.gridItem.castlingMove:hover,
.gridItem.promotionMove:hover {
    filter: brightness(70%);
}

.gridItem.change{
    background-color: var(--change-color);
}
.gridItem.minionChange{
    background-color: var(--minion-change-color);
}

.gridItem.change:hover, .gridItem.latestChange:hover{
    filter: brightness(110%);
}


.gridItem.basicBeat {
    background-color: var(--basic-beat-color,rgb(158, 74, 74));
}

.gridItem.basicMove {
    background-color: var(--basic-move-color,rgb(157, 253, 194));
}

.gridItem.enPassantMove {
    background-color: var(--en-passant-move-color,rgb(255, 183, 115));
}

.gridItem.castlingMove {
    background-color: var(--castling-move-color,rgb(74, 157, 251));
}

.gridItem.promotionMove {
    background-color: var(--promotion-move-color,#9dfdc2);
    box-shadow: 0px 2px 30px 11px var(--promotion-move-shadow-color, rgba(157, 253, 194, 0.5));
    z-index: 2;
}

.gridItem.promotionBeat {
    background-color: var(--promotion-beat-color,rgb(158, 74, 74));
    box-shadow: 0px 2px 30px 11px var(--promotion-beat-shadow-color,rgba(158, 74, 74, 0.5));
    z-index: 2;
}

.gridItem.selected {
    background-color: var(--selection-color,rgb(68, 122, 89));
    filter: brightness(100%);
}

.gridItem.selected:hover {
    filter: brightness(100%);
}

.minion {
    z-index: 3;
}
/*Field Styles END*/




/*Board Styles END*/
.gameinfo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.clocks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: calc(var(--board-size)*1.2);
    max-width: 100vw;
}

.clock {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 20%;
    height: calc(var(--board-size)*0.125);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: calc(var(--board-size)*0.07);
    color: var(--clock-color, black);
}

.clock.active{
    color: var(--clock-active-color, rgb(0, 16, 59));
}

.divider {
    height: calc(var(--board-size)*0.1);
    width: 4px;
    background: var(--divider-color, black);
    border-radius: 9px;
}

.clockKing{
    height: calc(var(--board-size)*0.15);
    width: calc(var(--board-size)*0.15);
    background: url("../../images/minions/minionSpriteSheet.png") no-repeat; 
    background-size: 800% auto;
    background-position-x: 43%; 
}

.clockKing.black{
    background-position-y: 100%;
}

/*Hisory Style*/

.history {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
}

#latestMoveButton {
    position: absolute;
    top: 14%;
    left: 50%;
    font-size: calc(var(--board-size)*0.04);
    transform: translate(-50%, 0);
    width: max-content;
    height: calc(var(--board-size)*0.05);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    opacity: 0;
    transition: opacity .5s;
}

.historymode #latestMoveButton {
    opacity: 1;
}

#latestMoveButton:hover {
    color: rgba(4, 76, 100);
}

@media(hover: hover){
#latestMoveButton:hover {
    color: rgba(4, 76, 100);
}
}

.historyControlWrapper {
    width: calc(var(--board-size)*1.5);
    max-width: 100%;
    height: calc(var(--board-size)*0.125);
    font-size: 3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.historylist {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 80%;
    padding-bottom: 5px;
    scrollbar-width: thin;
}
@media(hover: hover) {
    .historylist::-webkit-scrollbar-track {
        background-color: transparent;
    }
    
    .historylist::-webkit-scrollbar {
        border-radius: 2px;
        height: 8px;
        background-color: transparent;
    }
    
    .historylist::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background-color: rgb(0, 0, 0);
    }
}
.historylist::after {
    content: "";
    padding-left: calc(var(--board-size)/8);
}
.historylist .space {
    margin: 2px;
    flex: 0 0 auto;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    width: calc(var(--board-size)*0.125);
    height: calc(var(--board-size)*0.125);
}


.histormove{
    position: relative;
    display: inline-block;
    flex: 0 0 auto;

    white-space: nowrap;
    vertical-align: top;

    width: calc(var(--board-size)*0.125);
    height: calc(var(--board-size)*0.125);

    margin: 2px;
    margin-left: 5px;
    margin-right: 5px;  

    transition: box-shadow 0.3s;
    
    border: 2px solid rgb(128, 0, 0);

    
    user-select: none;

    
    text-align: end;
    
    background-color: var(--history-grey);
    

}

.historyitem {
    margin: 2px;
    flex: 0 0 auto;
    transition: box-shadow 0.3s;
    border: 4px solid white;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    vertical-align: top;
    margin-left: 5px;
    margin-right: 5px;
    text-align: end;
    width: calc(var(--board-size)*0.125);
    height: calc(var(--board-size)*0.125);
    background-color: var(--history-grey);
    user-select: none;
}
.historyitem::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: 2px solid black;
    content: '';
}


.historyitem .movepicture {
    position: relative;
    width: 85%;
    height: 85%;
    top: 0;
    margin: auto;
}
.historyitem .movenum {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 20%;
    text-align: center;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    background-color: white;
    font-size: calc((var(--board-size)*0.125)*0.18);
    font-weight: bold;
}
.historyitem .movetitle {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    font-size: calc((var(--board-size)*0.125)*0.2);
    border-top: 2px solid black;
    background-color: white;
}

/* interaction */
@media (hover: hover) {
    .historyitem:hover {
        box-shadow: inset 0px 0px 7vmin -1.6vmin rgba(4, 76, 100);
    }
    
    .historyitem.highlighted::after ,
    .historyitem:hover .movetitle,
    .historyitem:hover .movenum {
        border-color: rgb(4, 76, 100);
    }
}
.historyitem:active {
    box-shadow: inset 0px 0px 7vmin -1.6vmin rgba(4, 76, 100);
}
/* .historyitem:active, */
.historyitem.highlighted::after,
.historyitem:active .movetitle,
.historyitem:active .movenum {
    border-color: rgb(4, 76, 100);
}
.historyitem.highlighted,
.historyitem.highlighted .movetitle,
.historyitem.highlighted .movenum {
    border-color: rgb(3, 44, 58);
}
.historyitem.highlighted {
    box-shadow: inset 0px 0px 7vmin -1.6vmin rgba(4, 76, 100);
    border-color: rgb(3, 44, 58);
}
.historyitem.highlighted::after {
    outline-color: rgb(3, 44, 58);
}

#historyForwardBtn,
#historyBackwardBtn {
    width: 10%;
    height: 100%;
    font-size: calc(var(--board-size)*0.125);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    background-color: transparent;
    border: none;
    user-select: none;
    transition: color linear .15s;
}

/* @media(hover:hover){
#historyForwardBtn:hover,
#historyBackwardBtn:hover{
    color: lightgrey;
}
} */

#historyForwardBtn:active,
#historyBackwardBtn:active{
    color: lightgrey;
}
/*Hisory Style END*/

